name: Daily Stock Bot

on:
  schedule:
    # 한국 시간 월~금 오전 08:20 실행
    # (UTC 기준 일~목 23:20)
    # 0=Sun, 1=Mon, ..., 4=Thu
    - cron: '20 23 * * 0-4'
  workflow_dispatch: # 수동 실행 버튼 추가

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run ETF Bot
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      #run: python yf_fdr_ETF.py
      run: python 1m_auto_bot_upload_etf.py
      continue-on-error: true 

    - name: Run Stock Bot
      if: always() 
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: python 1m_auto_bot_upload_stock.py
      #run: python yf_fdr_INDV_KO.py
      continue-on-error: true 

    - name: Run US Stock Bot
      if: always() 
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: python 1m_auto_bot_upload_US.py